@import './mixins.scss';
@import './variables.scss';


.catalog{
    padding-top: 32px;
    padding-bottom: 32px;
}
.catalog__status{
    color: $prime;
    font-size: 24px;
    margin-left: 120px;
}
.catalog__grid{
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 282px);
    gap: 24px;
}
.catalog__new{
    width: 100%;
}