
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './blockStyles/AdvantagesStyles.scss';
@import './blockStyles/CatalogStyles.scss';
@import './blockStyles/FooterStyle.scss';
@import './blockStyles/HeaderStyles.scss';
@import './blockStyles/MobileMenuStyles.scss';
@import './blockStyles/Tablet-headerStyles.scss';

@import './pagesStyles/mainPage.scss';