
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// @import './mixins.scss';
// @import './variables.scss';
@import './CatalogStyles.scss';
@import './HeaderStyles.scss';
@import './mainPage.scss';
@import './AdvantagesStyles.scss';
@import './FooterStyle.scss';
@import './Tablet-headerStyles.scss';