@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.input-block{
    position: relative;
    @include flexRow();
    @include dynamic-calc-local(width, 1200 ,594);
    border: 1px solid #B7B7B7;
    border-radius: 8px;
    .input-block__container{
        display: flex;
        gap: 8px;
        margin: 16px 24px 16px 24px;
        
        .input-block__item{
            width: 100%;
            border: none;
            font-size: 20px;
            font-weight: 400;
            outline: none;
        }
    }
}

.toggled-block{
    position: absolute;
    z-index: 2;
    
    top: 60px;
    // right: 720px;
    


    margin-inline: auto;
}

.search-result{
    background-color: white;
    border-radius: 0 0 10px 10px;
    width: 593px;   
    overflow-y: scroll;
    height: 480px;
    &::-webkit-scrollbar{
        width: 10px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: #E1E1E1;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track{
        background: #F9F9F9;
        border-radius: 8px;
        margin-bottom: 36px;
        margin-top: 36px;
    }
    .search-result__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        height: 96px;
        margin-right: 20px;
        padding-left: 32px;
        border-bottom: 1px solid #E7E7E7
    }
    .search-result__text{
        flex-grow: 1;
    
        h2{
            font-size: 20px;
            font-weight: 400;
        }
        p{
            font-size: 24px;
            font-weight: 500;
        }
    }
    a{
        color: $prime;
        text-decoration: none;
    }
}

@media (max-width: 1200px){
    .searchIcon{
        path{
            stroke: black;
        }
    }
    .input-block{
        width: 100%;
        border: none;
        position: static;
        
        .input-block__container{
            padding: 0;
            margin: 8px 32px 8px 32px;
        }
    }

    .toggled-block{
        display: flex;
        justify-content: center;
        width: 100%;
        // min-width: 593px;
        // max-width: 983px;
        
        top: 40px;
        // margin-left: 20px;
        // margin-inline: 0;
        left: 0;
    }
    
    .search-result{
        height: 344px;

        .search-result__item{
            height: 80px;
            img{
                width: 48px;
                height: 48px;
            }
        }
        .search-result__text{
            h2{
                font-size: 16px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    
}

@media (max-width: 768px) {
    
}