@import '../mixins.scss';
@import '../variables.scss';

.catalog{
    margin-inline: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    gap: 24px;
}
.catalog__status{
    color: $prime;
    font-size: 24px;
    align-self: flex-start;

}
.catalog__grid{
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    gap: 24px;
}
.catalog__new{
    width: 100%;
}
@media (max-width: 1200px) {
    .catalog__grid{
        gap: 40px
    }    
}