@import '../variables.scss';
@import '../mixins.scss';

.footer{
    display: flex;
    height: 309px;
    justify-content: space-evenly;
    padding-left: 120px;

    .footer__branding{
        display: flex;
        flex-direction: column;
        width: 273px;
        padding-top: 30px;
        gap: 27px;
        .footer__branding-text{
            color: $smallText_5;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .footer__span{
                color: $smallText_3;
                margin-top: 16px;
                font-size: 14px;
            }
        }
    }

    .footer__services{
        padding-top: 40px;
        display: flex;
        gap: 16px;
        .footer__services-list{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 16px;
            .footer__services-item{

                .footer__services-link{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    .footer__products{
        padding-top: 40px;
        .footer__products-list{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 16px;
            .footer__products-item{
                
                .footer__products-link{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

.footer__contact{
    padding-top: 31px;
    padding-right: 155px;
    .footer__contact-info{
        display: flex;
        flex-direction: column;
        gap: 11px;
        .footer__phone-container{
            height: 86px;
            .footer__phone-number{
                text-decoration: none;
                color: black;
                font-size: 41px;
                font-weight: 600;
            }

            .footer__phone-description{
                color: $smallText_6;
                font-size: 14px;
            }
        }

        .footer__callback{
            text-decoration: none;
            color: $prime;
            font-size: 20px;
            
        }
    }

    .footer__adress{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 40px;
    }
    
    .social-media-icons{
        position: relative;
        bottom: 120px;
        left: 169px;
    }
}