@import '../variables.scss';
@import '../mixins.scss';
.header{
    @include flexRow();
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

    height: 94px;
    padding: 23px 0;


    justify-content: space-between;
    align-items: center;
}
.header__phone{
    @include flexCol();
    @include dynamic-calc(margin-left, 28);

    align-self: normal;
    padding-top: 9px;
    

    gap: 4px;

    .header__phone-content{
        @include flexRow();
        @include linkView();
        gap: 4px;
        font-size: 20px;
        line-height: 24px;
        align-items: center;
        justify-content: center;
    }
    .header__phone-link{
        @include linkView();
        color: $prime;
        text-align: end;
        font-size: 16px;
        line-height: 19px;
    }
}
.special{
    // @include dynamic-calc(width, 87);
    @include flexRow();
    gap: 4px;
    background-color: #FDEFBF;
    border-radius: 8px;
    box-sizing: content-box;
    padding: 1px 8px 1px 4px;
    align-items: center;
    justify-content: center;
    
}
.control{
    @include flexCol();
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    .control__buttons{
        @include flexRow();

        padding: 22px 0 22px 0;
        align-items: center;
        justify-content: space-between;

    }
    .control__categories{
        @include flexRow();
        
        padding: 12px 0 20px 0;
        
        justify-content: space-between;
    }
}
.header__nav{
    @include flexRow();
    align-items: center;
}
.header__nav-list{
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    @include flexRow();
    list-style-type: none;

}
.header__nav-link{
    @include linkView();
    font-size: 18px;
    font-weight: 400;
    line-height: 21.48px;

}
.header__nav-link:hover{

    color: $prime;
    border-bottom: 1px solid $prime;

}