@import '../variables.scss';
.subscription-offer{
  display: flex;
  height: 481px;
  background-color: #F9F9F9;
  gap: 86px;
  justify-content: center;
  align-items: center;
}
.subscription-offer__container{
  display: flex;
  flex-direction: column;
  gap: 25px;
  .subscription-offer__text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 421px;
    h1{
      font-size: 48px;
    }
    p{
      font-size: 24px;
      color: $smallText_7;
    }
  }
}
.subscription-offer__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background: linear-gradient(90.34deg, #F7355D 0.3%, #9747FF 101.33%);
  border-radius: 16px;
  height: 196px;
  .form-text{
    color: white;
    padding-left: 40px;
    h1{
      font-size: 41px;

    }
    p{
      font-size: 20px;
    }
  }
  .form-input{
    display: flex;
    gap: 8px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 486px;
    flex-wrap: wrap;
    .custom-input{
      width: 246px;
      order: 0;
      .custom-input__item{
        color: $smallText_5;
      }
    }
    .custom-input__error{
      order: 2;
      color: #faa300;

    }
    .casualBtn{
      width: 160px;
      order: 1;
      margin-left: 8px;
    }
  }
}

@media (max-width: 1200px) {
  .subscription-offer{
    height: 358px;
    background-color: white;
    gap: 32px;
    align-items: normal;
    img{
      width: 225px;
      height: 173px;
      margin-top: 24px;
    }
  }
  .subscription-offer__container{
    gap: 16px;
    padding-top: 32px;
    .subscription-offer__text{
      max-width: 300px;
      h1{
        font-size: 32px;
      }
      p{
        font-size: 16px;
      }
    }
  }
  .subscription-offer__form{
    background: white;
    width: 100%;
    justify-content: normal;
    .form-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: linear-gradient(90.34deg, #F7355D 0.3%, #9747FF 101.33%);
      border-radius: 16px;
      max-width: 279px;
      height: 63px;
      padding-left: 16px;
      gap: 4px;
      h1{
        font-size: 20px;
      }
      p{
        font-size: 16px;
      }
    }
    .form-input{
      justify-content: normal;
      gap: 8px;
      padding: 0;

      .custom-input__error{
        color: red;
      }
    }
  }
}

@media (max-width: 768px) {
  .subscription-offer{
    img{
      display: none;
    }
  }
  .subscription-offer__container{
    gap: 8px;
    .subscription-offer__text{
      max-width: 240px;
      h1{
        font-size: 24px;
      }
    }
  }
  .subscription-offer__form{
    gap: 8px;
    .form-text{
      max-width: 100%;
      border-radius: 8px;
    }
    .form-input{
      flex-direction: column;
      width: 100%;
      gap: 4px;
      .custom-input{
        order: 0;
      }
      .custom-input__error{
        order: 1;
      }
      .casualBtn{
        width: auto;
        order: 2;
        margin: 0;
      }
    }
  }
}