@import '../mixins.scss';
@import '../variables.scss';

.tablet-header{
    @include flexCol();
    .tablet-header__menu{
        background-color: white;
        position: absolute;
        top: 63px;
        width: 100%;
        border-radius: 0 0 24px 24px;
        padding: 16px 173px 24px 24px;
        .tablet-header__nav-list{
            flex-wrap:wrap;
            align-items: center;
            gap: 24px;
            @include flexRow();
            width: 100%;
            list-style-type: none;
        }
    }
    .tablet-header__control{
        @include flexRow();
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 4px 24px;
        .tablet-header__phone{
            @include flexCol();
            .tablet-header__phone-content{
                @include flexRow();
                @include linkView();
                gap: 4px;
                font-size: 20px;
                line-height: 24px;
                align-items: center;
                justify-content: center;
            }
            .tablet-header__phone-link{
                
                position: absolute;
                top: 47px;
                text-decoration: none;
                text-align: center;
                font-size: 16px;
                color: $prime;
            }
        }
        .tablet-header__burger{
            margin-left: 40px;
        }  
    } 
}