@import '../mixins.scss';
@import '../variables.scss';

.found-cheaper{
  @include flexCol();
  align-items: center;
  padding-bottom: 24px;
  gap: 16px;

}
.found-cheaper__text{
  @include flexCol();
  max-width: 357px;
  text-align: center;
  gap: 8px;
}
.found-cheaper__functional{
  @include flexCol();
  gap: 16px;
  width: 461px;
}
.found-cheaper__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 461px;
  .found-cheaper__input{
    @include flexRow();
    gap: 8px;
  }
  .found-cheaper__input{
    display: grid;
    grid-template-columns: 204px 249px;
  }
  .custom-input{
    height: 56px;
  }
  .custom-input__item{
    color: $smallText_5;
  }
  .casualBtn{
    margin-top: 8px;
  }
}